* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

.workSpace {
    width: 428px;
    height: 100vh;
    border: 2px solid #E8DEF8;
    padding: 16px;
    border-radius: 8px;
    position: relative;

    font-family: "Open Sans";
}

.mainConteiner {

    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    font-size: 16px;
    position: relative;
    overflow-y: scroll;
}

.find {
    width: 100%;
    height: 48px;
    display: flex;

}

#findInput {
    width: 100%;
    border-radius: 100px 0 0 100px;
    border: 0;
    padding-left: 20px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    flex-grow: 1;
    background-color: #E6E2E9;
}

#findBtn {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 0 100px 100px 0;
    flex: 0 1 48px;
    background-color: #E6E2E9;

    img {
        width: 18px;
        height: 18px;
    }
}

.tabs {
    margin: 2px;
    /* border: 1px solid blue; */

    /* display: grid; */

    display: flex;
    justify-content: center;
    gap: 0;

}

#tabAll,
#tabActive,
#tabEnded {
    width: 31%;
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    border: 1px solid gray;
    flex-grow: 1;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

}

.filtred {
    background-color: #E8DEF8;
}

#tabAll {
    border-radius: 100px 0 0 100px;

}

#tabActive {}

#tabEnded {
    border-radius: 0 100px 100px 0;

}

#pencilBtn {
    border-radius: 16px;
    border: 0;
    width: 56px;
    height: 56px;
    background-color: #E8DEF8;
    position: absolute;
    right: 30px;
    bottom: 16px;

    img {
        width: 18px;
        height: 18px;
    }
}


.checked {
    color: gray;
    text-decoration: line-through;
}

li {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    /* border: 1px solid blue; */
    background-color: #F7F2FA;
    border-radius: 8px;
    padding: 10px;

    input[type="checkbox"] {
        accent-color: #D0BCFF;
        margin-left: 13px;
    }

    .checkbox {}

    .taskInfo {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .taskName {
        font-size: 16px;
        flex-grow: 1;
    }

    .taskDate {
        font-size: 14px;
        color: gray;
        margin-top: 5px;
    }

    .delTask {
        width: 20px;
        height: 20px;
        margin-right: 13px;
        color: black;
    }
}

/* *****************.  ADD-FORM.  ********************** */



.formAddTask {

    width: 100%;
    height: 328px;
    padding: 0px 16px;
    /* border: 1px solid green; */
    border-radius: 28px;
    background-color: #F7F2FA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    /* display: none; */

    .errorMassage {
        color: red;
    }

    .OKMassage {
        color: green;
    }
}

.hidden {
    display: none;
}

.onlyLine {
    padding: 16px auto;
}

.textTask,
.dateTimeTask {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #555;
}

input[type="datetime-local"] {
    /* background-color: #222; */
    /* color: white; */


    padding: 8px;
}

#addTaskBtn,
#cancelBtn {
    width: 114px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 100px;
    font-size: 14px;
    text-align: center;
}

#addTaskBtn:hover,
#cancelBtn:hover {
    background-color: #6750A4;
    color: white;
}

.contForBtn {
    display: flex;
    justify-content: end;
}

/* *************         switch              ************** */
.switchCont {
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 22px;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
}

.switch input:checked+.slider {
    background-color: #6750A4;

}

.switch input:checked+.slider::before {
    transform: translateX(18px);
    content: "✓";
    align-items: center;
}